<h1>Remedies</h1>

<table>
  <% @remedies.each do |remedy| %>
    <ul class = "remedylist">

      <div class="remedy"><%= link_to remedy.name, remedy_path(remedy) %></div>


    </ul>


  <% end %>
</table>

<h2><%= link_to "Add Remedy", new_remedy_path %>
