<h1>Remedies</h1>

<table>
  <% @remedies.each do |remedy| %>
    <div class = "remedylist">
      <div class = "center_remedy">
        <div class="remedy"><%= link_to remedy.name, remedy_path(remedy) %></div>
      </div>

    </div>


  <% end %>
</table>

<h2><%= link_to "Add Remedy", new_remedy_path %>
