<h1>Remedies</h1>

<table>
  <% @remedies.each do |remedy| %>
    <tr>
      <a href="/remedies/<%=  remedy.id %>">
      <%= remedy.name %>

    </a><br>
    </tr>


  <% end %>
</table>

<h2><%= link_to "Add Remedy", new_remedy_path %>
