<h2>New Oil</h2>

<form action "/oils/" method="post">
  <label for"oil[name]">Name:</label>
  <input name="artist[name]">

  <label for="oil[photo_url]">Photo URL:</label>
  <input name="oil[photo_url]" >

  <input type="submit" value="Create">

</form>
