<h1>Essential Oils<h1>

<table>
  <% @oils.each do |oil| %>
<ul>
  <%= link_to image_tag(oil.photo_url), oil_path(oil) %>
  <%= link_to oil.name, oil_path(oil) %>

</ul>



  <% end %>
</table>

<h2><%= link_to "Add Oil", new_oil_path %>
