<h1>Essential Oils<h1>

<table>
  <% @oils.each do |oil| %>
    <tr>
      <a href="/oils/<%=  oil.id %>">
      <%= oil.name %>

    </a><br>
    </tr>


  <% end %>
</table>

<h2><%= link_to "Add Oil", new_oil_path %>
