<h1>Essential Oils<h1>
<div class = "oillist">
  <% @oils.each do |oil| %>
      <div class="oil">
        <%= link_to image_tag(oil.photo_url), oil_path(oil) %>
      </div>
      <!-- <%= link_to oil.name, oil_path(oil) %> -->
  <% end %>
</div>
  <h2><%= link_to "Add Oil", new_oil_path %></h2>
