<h1>Welcome to Oils and Remedies<h1>

  <div id="container">

  			<img src="app/assets/images/arrow-left.png" alt="Prev" id="prev">
  			<div id="slider" align="center">
  				<div class="slide">
            <img src="app/assets/images/slide1.jpg">
  					<div class="slide-copy">
  						<p>For people who care about improving their health and their loved ones, we provide simple, safe, and empowersing solutions that enhance well-being.</p>
  					</div>
  				</div>

  				<div class="slide">
  					<div class="slide-copy">

  						<p>Our pure essential oils are revolutionizing the way families manage their health. We harness nature's most powerful elements and share these gifts through our global community of Wellness Advocates.</p>
  					</div>
  					<img src="app/assets/images/slide2.jpg">
  				</div>

  				<div class="slide">
  					<div class="slide-copy">
  						<p>Our Healing Hands Foundation seeks to bring healing and hope to the world as we work to make possible lives free of disease and poverty, ultimately teaching people everywhere to be self reliant.</p>
  					</div>
  					<img src="app/assets/images/slide3.jpg">
  				</div>
  			</div>
  			<img src="app/assets/images/arrow-left.png" alt="Next" id="next">
  		</div>



<div class="video-box">
<h2>What is a doTERRA Essential Oil?</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OEnKOk4ad0U" frameborder="0" allowfullscreen></iframe>
</div>
<div class="video-box">
<h2>Why You Should Choose doTERRA Essential Oils</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/o_M4XsYaOxM" frameborder="0" allowfullscreen></iframe>
</div>
