/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
*{
  margin: 0;
  padding: 0;
}*/

body {
text-align: center;
background-color: #E3EEE9
}



textarea{
width: 500px;
height: 300px;
}

input[type="text"]{
width: 500px;
height: 30px;
}

ul{
list-style-type: none;

}

li{
margin-top: 3%;
margin-bottom: 3%;
white-space: pre-wrap;

}

.navbar {
  background-color: lightgreen;
  width: 100%;
  height: 100px;
}

h1 { color: #darkgreen; font-family: 'Open Sans', sans-serif; font-size: 40px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }


h2 {  font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 14px;, width : 100%;}


p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }


a { color: #222; backgraound: pink;text-decoration: none; }


a:hover { background: #yellow; color: #darkgreen; text-decoration: none; }


nav {
  font-size: 25px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav.button {
  width: 100px;
  height: 30px;
  background-color: darkgreen;
}



.oil {
  float: left;
  margin: 2em;
}
.oillist {

  overflow: auto;
}

.oil-discription {
  font-size: 20px;
}

.remedylist > a {
  font-size: 30px;
  text-decoration: none;
  background-color: white;
  width: 500;
  height: 100;
}

.menubar{
 background-color: lightgreen; font-family: 'Open Sans', sans-serif; font-size: 40px; font-weight: 300; line-height: 40px; margin: 0 0 16px;
}

.remedy{
  border-radius: 5px;
  font-size: 30px;
  background-color: lightgreen;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.mainclick{
  background: green;
  color: white;,
  border-radius: 5px;
}

mainclick:hover{

  background: #yellow; color: #darkgreen; text-decoration: none;


}
