/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
*{
  margin: 0;
  padding: 0;
}*/

body {
text-align: center;
font-family: helvetica;
background-color: #E3EEE9

}

label{
font-size: 20px;

}

textarea{
width: 500px;
height: 300px;
}

input[type="text"]{
width: 500px;
height: 30px;
}

ul{
list-style-type: none;

}

li{
margin-top: 3%;
margin-bottom: 3%;
white-space: pre-wrap;

}

.navbar {
  background-color: lightgreen;
  width: 100%;
  height: 100px;
}

h1 {
  padding-top: 20px;
  margin-bottom: -10px;
}

nav {
  font-size: 25px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav.button {
  width: 100px;
  height: 30px;
  background-color: darkgreen;
}

p {
font-size: 30px;
}

.oil {
  float: left;
  margin: 2em;
}
.oillist {

  overflow: auto;
}

.oil-discription {
  font-size: 20px;
}
